<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <style>
        .button {
            border: 1px solid #4CAF50; /* Цвет рамки для кнопок */
            color: #4CAF50; /* Цвет текста для кнопок */
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            background: none;
        }
    </style>
</head>
<body>
<h1>Notes</h1>

<button onclick="createNote()" class="button">Create</button>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${list}">
        <td th:text="${note.title}"></td>
        <td th:text="${note.content}"></td>
        <td>
            <form th:action="@{/note/delete}" method="post">
                <input type="hidden" name="id" th:value="${note.id}">
                <button type="submit" class="button">Delete</button>
            </form>
            <a th:href="@{/note/edit/{id}(id=${note.id})}" class="button">Edit</a>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function createNote() {
        window.location.href = '/note/create';
    }
</script>

</body>
</html>
